.container {

}

.searchNavContainer {
}

.navBar {
	background-image: url("https://res.cloudinary.com/dwyavlo8d/image/upload/v1695618701/GlamifyApp/uewbk55nsapola0fwn2k.png");
	background-size: cover;
	width: 100%;
	background-position: center;
	width: 100%;
}

.searchBar{
	width: 100%;
}
