:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



.html, body {
  margin: 0;
  padding: 0;
  place-items: center;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background: rgb(242,242,242);
  background: linear-gradient(90deg, rgba(242,242,242,1) 11%, rgb(222, 222, 222) 39%, rgb(164, 164, 164) 80%);
}
