.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid black;
  width: 17rem;
  padding-bottom: 2rem;
}

.infoProduct {
  margin: 0 3rem;
}

.containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
