.container {

}

.searchNavContainer {
}

.navBar {
	background-image: url("https://res.cloudinary.com/dwyavlo8d/image/upload/v1696390679/GlamifyApp/wst0184wot4dbuwyp2ie.png");
	background-size: cover;
	width: 100%;
	background-position: center;
	width: 100%;
}

.searchBar{
	width: 100%;
}
