@font-face {
	font-family: 'Adam-Bold';
	src: url('../../assets/fonts/Adam-Bold.ttf') format('truetype');
}

.formContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.form {
	width: 350px;
	height: 350px;
	color: #fff;
	background-color: transparent;
	border: 2px solid rgb(0, 0, 0);
    font-family: Adam-Bold, sans-serif;
}

.logInMsg {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;

}

.emailContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: black;
}

.passwordContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: black;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 120px;
	height: 40px;
	border: 1.5px solid rgb(0, 0, 0);
	cursor: pointer;
	border-radius: 5px;
	background-color: transparent;
	margin-top: 100px;
	transition: background-color 0.3s ease, color 0.3s ease;
	text-decoration: none;
	color: black;
}

.button:disabled {
	pointer-events: none;
}
