.Image {
    height: 400px;
    width: 400px;
}


.link {
    text-decoration: none;
    color: black;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}