.ShoppingCartMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 0px;
    background-color: transparent;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.items {
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.idKey{
    padding-bottom: 35px;

}

.Image {
    padding-left: 25px;
    background-color: transparent;
    height: 100px;
    width: 100px;
}



.textContainer {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    font-size: 10px;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    font-size: 10px;
    border: 2px solid black;

}


.buttonsContainer {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 30%;
    border: 2px solid black;
    border-radius: 5px;
}

.deleteButtom {
    background-color: transparent;
    border: none;
    font-size: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.deleteButtom:hover {
    color: red;
}

.incre {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.incre:hover {
    color: rgb(29, 195, 0);
}

.decre {
    background-color: transparent;
    border: none;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.decre:hover {
    color: rgb(195, 0, 0);
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 15px;
    border: 2px solid black;
    font-family: 'Adam-Bold', sans-serif;
}

.shoppingTittle {
    font-size: 30px;
    font-weight: bold;
}

.quantity {
    font-size: 17px;
    font-family: 'Adam-Bold', sans-serif;
}

.buttomEmpty{
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    align-items: right;
}

.buttomEmpty:hover{
    color: red;
}

.flushIcon {
    display: flex;
    justify-content: right;
    width: 100%;
}

.buttonPay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
    font-family: 'Adam-Bold', sans-serif;
}

.buttonPay:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}