.searchcontainer{
border: 2px solid #000;
display: flex;
justify-content: space-between
}
.form{
    display: flex;
    justify-content: flex-start;
}
.input{
border: none;
background-color: transparent;
float: left;
width: 40vh;
outline: none;
}
.lupa{
border: none;
background-color: transparent;
cursor: pointer;
}
.carrito{
border: none;
background-color: transparent;
cursor: pointer;
}
.guardado{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

