.container {
	background-image: url("https://res.cloudinary.com/dwyavlo8d/image/upload/v1695617620/GlamifyApp/wcnlrymlaapkzw4o7ly0.png");
	background-size: cover;
	width: 100%;
	background-position: center;
	height: 34vh;
}
