@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
	font-family: 'Agressive';
	src: url('../../assets/fonts/AGRESSIVE.otf') format('truetype');
}

.cardContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: transparent;
	border: 2px solid rgb(0, 0, 0);
	width: 300px;
	height: 500px;
	position: relative;
}

.priceIconsContainer {
	background-color: transparent;
	display: flex;
	justify-content: space-evenly;
	/* flex-grow: 1; */
}

.price {
	display: flex;
	justify-items: center;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 10px;
	font-family: 'Agressive', sans-serif;
	font-weight: 600;
}

.icon {
	cursor: pointer;
}

.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 70%;
	background-color: transparent;
}

.image {
	display: block;
	margin: 0;
	max-width: 100%;
	max-height: 100%;
}

.nameContainer {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.subContainer {
	background-color: aqua;
}

.name {
	font-family: 'Red Hat Display', sans-serif;
	height: auto;
	position: absolute;
	font-size: 15px;
	text-align: center;
	margin: 10px;
}

.cardLink {
	text-decoration: none;
	color: black;
}

.cardButtons {
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}
