@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
	font-family: 'Agressive';
	src: url('../../assets/fonts/AGRESSIVE.otf') format('truetype');
}

.cardContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-color: transparent;
	border: 2px solid rgb(0, 0, 0);
	width: 300px;
	height: 500px;
	position: relative;
}

.Cardstitle {
	display: flex;
	justify-content: space-around;
}
