@font-face {
    font-family: 'Agressive';
    src: url('../../assets/fonts/AGRESSIVE.otf') format('truetype');
}

.pageCntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: black;
}

.button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.Link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
  color: black;
}

.Link:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.pageIndicator{
    font-family: 'Agressive', sans-serif;
    font-size: 13px;
}
