@font-face {
    font-family: 'Adam-Bold';
    src: url('../../assets/fonts/Adam-Bold.ttf') format('truetype');
}

.mainContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.imageSize {
    border: 2px solid black;
    height: 550px;
    width: 550px;
}

.DetailsText {
    margin-left: 20px;
    margin-top: 6px;
}

.DetailsTextTwo {
    align-items: center;
    padding-top: 245px;
    font-family: 'Adam-Bold', sans-serif;
}


.ImageContainer {
    padding-top: 25px;
    padding-left: 50px;
}

.nameStyle {
    text-align: center;
    border: 2px solid black;
}

.buttonContainer {
    display: flex;
    height: 30px;
    justify-content: center;
    padding-bottom: 45px;
}

.buttonCart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
    font-family: 'Adam-Bold', sans-serif;
}

.buttonCart:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.buttonFav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: black;
    font-family: 'Adam-Bold', sans-serif;

}

.buttonFav:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.linkBack {
    text-decoration: none;
    color: black;
    font-family: 'Adam-Bold', sans-serif;
}

.goBackContainer {
    padding-top: 30px;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 5%;
}