.form {
	display: flex;
	justify-content: flex-start;
	border: 2px solid #000;
    height: 60px;

}

.input {
	border: none;
	background-color: transparent;
	float: left;
	width: 100vh;
	outline: none;
}

.lupa {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
