@font-face {
  font-family: "Adam-Bold";
  src: url("../../assets/fonts/Adam-Bold.ttf") format("truetype");
}

.NavBarContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  gap: 20px;
  color: black;
  font-family: "Adam-Bold", sans-serif;
  padding-inline-end: 30px;
  align-items: safe;
  height: 25vh;
}
.create {
  width: 110px;
  height: 10px;
}
.NavLink {
  text-decoration: none;
  color: black;
  text-decoration: none;
  outline: none;
  padding-right: 10px;
  padding-left: 15px;
}

.logoContainer {
  max-width: 4%;
  display: flex;
  width: 10px;
}

.logo {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  margin-right: 980px;
  cursor: pointer;
}

.imageWoman {
  width: 100px;
}
.containersecondary {
  padding: 30px;
}
