@font-face {
  font-family: "Adam-Bold";
  src: url("../../assets/fonts/Adam-Bold.ttf") format("truetype");
}

.NavBarContainer {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  gap: 20px;
  color: black;
  padding-bottom: 30px;
  font-family: "Adam-Bold", sans-serif;
}

.NavLink {
  text-decoration: none;
  color: black;
  text-decoration: none;
  outline: none;
}

.logoContainer{
  max-width: 4%;
  margin-right: 950px;

}


.logo {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
  margin-right: 980px;
  cursor: pointer;
}

.imageWoman {
  width: 100px;
}
