@font-face {
  font-family: "Adam-Bold";
  src: url("../../assets/fonts/Adam-Bold.ttf") format("truetype");
}

.NavBarContainer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Adam-Bold", sans-serif;
  align-items: safe;
  height: 28vh;
}

.create {
  width: 110px;
  height: 10px;
}

.NavLink {
  text-decoration: none;
  color: black;
  outline: none;
  padding-right: 10px;
  padding-left: 15px;
}

.logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.containersecondary {
  padding: 30px;
}

.closeButton {
  align-self: flex-end;
}

.closeIcon {
  color: aliceblue;
  cursor: pointer;

}

.closeIcon:hover {
	color: rgba(240, 248, 255, 0.643);
}

.footerText {
  position: absolute;
  font-size: 2.5rem;
  padding: 1rem;
  left: 0;
  top: 160px;
}

@media (min-width: 820px) {
  .hamburguerIcon {
    display: none;
  }
}

@media screen and (max-width: 819px) {
  .containersecondary {
    display: none;
    flex-direction: column;
    background-color: black;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    animation: myAnim 1s ease 0s 1 normal forwards;

  }

  .containersecondary .NavLink {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
  }

  .menuOpen {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
  }

  .menuOpen .NavLink {
    margin: 1rem 1rem;
  }

  .NavLink {
    position: relative;
    text-decoration: none;
    padding: 0 0;
  }

  .NavLink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    bottom: 0;
    left: 0;
    transition: width 0.4s;
    opacity: 0;
  }

  .NavLink:hover::after {
    width: 35%;
    opacity: 1;
  }

  .hamburguerIcon {
    font-size: 3rem;
    cursor: pointer;
    margin-top: 5px;

  }

  .menuOpen {
    display: flex;
  }
}

@keyframes myAnim {
	0% {
		transform: scale(0);
		transform-origin: 100% 0%;
	}

	100% {
		transform: scale(1);
		transform-origin: 100% 0%;
	}
}

