@font-face {
	font-family: 'Adam-Bold';
	src: url('../../assets/fonts/Adam-Bold.ttf') format('truetype');
}

.NavBarContainer {
	display: flex;
	padding: 30px;
	justify-content: space-between;
	padding-right: 250px;
	gap: 30px;
	color: black;
	font-family: 'Adam-Bold', sans-serif;
	padding-inline-end: 30px;
	align-items: safe;
	height: 25vh;
}
.create {
	width: 110px;
	height: 10px;
}
.NavLink {
	text-decoration: none;
	color: black;
	text-decoration: none;
	outline: none;
	padding-right: 10px;
	padding-left: 15px;
}
.NavLink:hover {
	color: #f5f5f5;
}

.logoContainer {
	display: flex;
	width: 10px;
}

.logo {
	display: flex;
	align-items: flex-start;
	width: 60px;
	height: 60px;
	margin-right: 980px;
	cursor: pointer;
}

.imageWoman {
	width: 100px;
}
.containersecondary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
	gap: 15px;
	padding-bottom: 150px;
}


.LoaderDiv {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}